
body {
	font-family: "Arial"
}

h2 {
	color: #EFECEC;
	font-size: 30px;
}

.bloc {
   	text-align: center;
   	width: 500px;
    height: 380px;
    overflow: auto;
    background: black;
    border-radius:10px;
}


.forminput {
	border-radius: 5px;
	margin: 5px;
	padding: 5px;
	width: 85%;
	background-repeat: no-repeat;
	background-size: 22px;
	background-position: left;
	padding-left: 25px;
	font-size: 15px
}

input#name {
	background-image: url(img/avatar2.png);
}

input#phone {
	background-image: url(img/phone2.png);
}	

input#email{
	background-image: url(img/email2.png);
}

input#password{
	background-image: url(img/password2.png);
}

.terms {
	color: white;
	margin: 15px;
	text-shadow: 1px 0px 2px #836D6D;
	text-align: left;
}

button {
	width: 210px;
	height: 50px;
	border-radius: 10px;
	background: linear-gradient(to top, #509339, #70BE55);
	border: 0px;
	font-size: 20px;
	text-shadow: 2px 0px 3px #450045;
	color: white
}

.button1 {
	text-align: right;
	margin: 25px 15px 0px 0px;
}

.colorterms {
	color: #509339;
}

